<div class="panel-heading">
    <ul class="list-group inline-list block-list-3">
        <li class="list-group-item">Currently viewing Open Enrollment {{ openEnrollment }}</li>
        <li class="list-group-item"><a href="{{ url('iiab_magnet_program_processing_view_all') }}">Change Open Enrollment</a></li>
    </ul>
</div>