{% extends '@IIABMagnet/Admin/standard_layout.html.twig' %}

{% block title %}
    {{ "title_create"|trans({}, 'SonataAdminBundle') }}
{% endblock%}

{% block navbar_title %}
    {{ block('title') }}
{% endblock %}

{% block sonata_admin_content %}
    <div class="sonata-ba-form">
        <section class="content-header">
            <nav role="navigation" class="navbar navbar-default">
                <div class="navbar-header"><span class="navbar-brand">Create a New Submission</span></div>
            </nav>
        </section>
        <section class="content">
            <div class="sonata-ba-form">
                <div class="row">
                    <div class="col-md-12">
                        <div class="">
                            <div class="box box-alert">
                                <div class="box-body">
                                    <h2>No Zoned School was found.</h2>

                                    <p>No zoned school was found based on your address in the student information database. There may be an error in your address. Your address must match the address as it is displayed on School Zone Locator. Please visit your current school to update your address record as necessary.</p>

                                    <p>Please note, updates must be done by your current school and can take up to 72 hours. You may attempt to resubmit an application after the the update has been made by your school.</p>

                                    {{ 'magnet.contact'|trans|raw }}

                                    <p><a href="{{ url('admin_submission_create') }}" class="button">Start Over</a></p>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
{% endblock sonata_admin_content %}
