{% extends '@IIABMagnet/Admin/standard_layout.html.twig' %}

{% block title %}
    {{ "title_create"|trans({}, 'SonataAdminBundle') }}
{% endblock %}

{% block navbar_title %}
    {{ block('title') }}
{% endblock %}

{% block sonata_admin_content %}
    <div class="sonata-ba-form">
        <section class="content-header">
            <nav role="navigation" class="navbar navbar-default">
                <div class="navbar-header"><span class="navbar-brand">Offered Not Found</span></div>
            </nav>
        </section>
        <section class="content">
            <div class="sonata-ba-form">
                <div class="row">
                    <div class="col-md-12">
                        <div class="">
                            <div class="box box-alert">
                                <div class="box-body">
                                    <h2>No Offer found for the submission ID: {{ id }}.</h2>

                                    <div class="clear clearfix"></div>
                                    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>

                                    <p>
                                        <a href="{{ url('admin_submission_edit' , {'id': id } ) }}" class="btn btn-info">Go back to Submission</a>
                                    </p>

                                    <div class="clear clearfix"></div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
{% endblock sonata_admin_content %}
